<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
	<div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
		Nenhum starter cadastrado!
	</div>
	<div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}"></div>
	<div th:if="${not #lists.isEmpty(lista)}">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Quatro Letras</th>
					<th>Dailys</th>
					<th>Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="starter : ${lista}">
					<td th:text="${starter.id}"></td>
					<td th:text="${starter.nome}" width="50%"></td>
					<td th:text="${starter.quatroLetras}"></td>
					<td th:text="${starter.dailys}"></td>
					<td><a class="btn btn-primary btn-sm" th:href="@{/starter/editar(id=${starter.id})}">Editar</a>
					<a class="btn btn-primary btn-sm" th:href="@{/starter/excluir(id=${starter.id})}" onclick="return confirm('Você realmente deseja excluir esse Starter?')">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

</html>