<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
	<div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
		Nenhum Scrum Master cadastrado!
	</div>
	<div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}"></div>
	<div th:if="${not #lists.isEmpty(lista)}">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Quatro Letras</th>
					<th>Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="scrumMaster : ${lista}">
					<td th:text="${scrumMaster.id}"></td>
					<td th:text="${scrumMaster.nome}" width="50%"></td>
					<td th:text="${scrumMaster.quatroLetras}"></td>
					<td><a class="btn btn-primary btn-sm" th:href="@{/scrumMaster/editar(id=${scrumMaster.id})}">Editar</a>
					<a class="btn btn-primary btn-sm" th:href="@{/scrumMaster/excluir(id=${scrumMaster.id})}" onclick="return confirm('Você realmente deseja excluir esse Scrum Master?')">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

</html>