<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
	<div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
		Nenhum grupo encontrado!
	</div>
	<div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}"></div>
	<div th:if="${not #lists.isEmpty(lista)}">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Starters</th>
					<th>Tecnologia</th>
					<th>Scrum Master</th>
					<th>Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="grupo : ${lista}">
					<td th:text="${grupo.id}"></td>
					<td th:text="${grupo.starters}"></td>
					<td th:text="${grupo.tecnologia.nome}"></td>
					<td th:text="${grupo.scrumMaster.nome}"></td>
					<td><a class="btn btn-primary btn-sm" th:href="@{/grupo/editar(id=${grupo.id})}">Editar</a>
					<a class="btn btn-primary btn-sm" th:href="@{/grupo/excluir(id=${grupo.id})}" onclick="return confirm('Você realmente deseja excluir esse grupo?')">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

</html>